@use "../base/variables" as v;
@use "../base/mixins";



footer {
    background-color: v.$color-terciario;
    color: v.$color-primario;
    text-align: center;
    padding: 1%;

    .footer-semifinal {
        font-family: v.$font-titulos ;
        width: 90%;
        max-width: 750px;
        padding: auto;
        min-height: 200px;
        margin: 100px auto;
        text-align: left;
        background: v.$color-terciario;
        text-align: center;

    }

    .footer-link {
        text-decoration: none;
        color: inherit;
        display: block;
    }

    .footer-link:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .footer-h3 {
        color: v.$color-secundario;
        font-size: 2rem;
        padding: 5%;

    }

    .main-parrafo-inicio {

        font-size: 1.2rem;
        color: v.$color-titulos;
    }

    .footer-copyright {

        .copy {
            margin-top: 8%;
            font-size: 1.1rem;
            color: v.$color-titulos;
        }
    }
}