@use "../base/variables" as v;
@use "../base/mixins";


$shadow-light: rgba(5, 164, 204, 0.15) 0 2px 10px;
$shadow-medium: rgba(5, 164, 204, 0.2) 0 4px 15px;
$shadow-strong: rgba(5, 164, 204, 0.3) 0 4px 20px;

footer {
    background-color: v.$color-terciario;
    color: v.$color-primario;
    text-align: center;
    padding: 1%;

    .footer-semifinal {
        width: 90%;
        max-width: 750px;
        padding: auto;
        min-height: 200px;
        margin: 100px auto;
        text-align: left;
        background: v.$color-terciario;

    }

    .footer-h3 {
        color: v.$color-secundario;
        font-size: 2rem;
        padding: 5%;

    }

    .main-parrafo-inicio {

        font-size: 1.2rem;
        color: v.$color-titulos;
    }

    .footer-copyright {

        .copy {
            margin-top: 8%;
            font-size: 1.1rem;
            color: v.$color-titulos;
        }
    }
}
