@use "../base/variables" as v;
@use "../base/mixins" as m;

//header index
.main-contenedor-texto {
}

    .main-h1 {
        font-size: clamp(2.2rem, 4vw, 3.5rem);
        font-weight: 700;
        margin-bottom: 1rem;
        color: v.$color-titulos;

    }
        .main-p1 {
        font-size: 1rem;
        line-height: 1;
        color: v.$color-titulos;

    
}

// header establecimiento
.header-establecimiento {

    position: relative;
    width: 100%;
    height: v.$variable-establecimiento-height;


    overflow: hidden;

    clip-path: polygon(0 0,
            100% 0,

            100% 82%,
            90% 88%,
            80% 92%,
            70% 94%,
            60% 95%,
            50% 94%,
            40% 92%,
            30% 89%,
            20% 86%,
            10% 84%,
            0 83%);

    .carousel,
    .carousel-inner,
    .carousel-item {
        height: 40vh;
        background-color: v.$color-primario;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .main-overlay {
        position: absolute;
        inset: 0;
        background: v.$sombra;
        z-index: 1;
    }

    .main-contenedor-texto {

        position: absolute;
        top: 45%;
        left: 6%;
        transform: translateY(-50%);
        max-width: 600px;
        color: v.$color-primario;
        z-index: 2;
    }

}

//header contacto
.main-header-contacto {
    text-align: center;
    padding: 5%;
    background-color: v.$color-terciario;
    color: v.$color-primario;


    .main-h2-contacto {
        font-size: clamp(2.2rem, 4vw, 3.5rem);
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .main-parrafo-contacto {
        font-size: 1.2rem;
        color: v.$color-titulos;
    }
}