$color-primario: rgb(255, 228, 196);
$color-secundario: #000000;
$color-terciario:#042f5a;
$color-titulos: white;
$color-subtitulos:#0995c0;
$color-acordeon:#FFFDF5;
$sombra: rgba(0, 0, 0, 0.45);
$variable-inicio-height: 60vh;
$variable-establecimiento-height: 40vh;
$color-parrafos:#26cece;

$font-titulos: "Montserrat", sans-serif;
$font-parrafos: "Poppins", sans-serif;


$break-md: 768px;

$color-primario-borde: rgb(25, 160, 165);
$border-radius-small: 5px;
$border-radius-medium: 8px;
$border-radius-large: 12px;
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 30px;
$transition-fast: 0.2s;
$transition-medium: 0.3s;
$transition-slow: 0.5s;

$shadow-light: rgba(5, 164, 204, 0.15) 0 2px 10px;
$shadow-medium: rgba(5, 164, 204, 0.2) 0 4px 15px;
$shadow-strong: rgba(5, 164, 204, 0.3) 0 4px 20px;
